node_modules
package-lock.json
.env
#src/frontend/node_modules
#src/frontend/package-lock.json

# compiled output
src/frontend/dist
src/frontend/tmp
src/frontend/out-tsc
# Only exists if Bazel was run
src/frontend/bazel-out

# dependencies
src/frontend/node_modules

# profiling files
src/frontendchrome-profiler-events*.json
src/frontendspeed-measure-plugin*.json

# IDEs and editors
src/frontend/.idea
src/frontend/.project
src/frontend/.classpath
src/frontend/.c9/
src/frontend/*.launch
src/frontend/.settings/
src/frontend/*.sublime-workspace

# IDE - VSCode
src/frontend/.vscode/*
src/frontend/!.vscode/settings.json
src/frontend/!.vscode/tasks.json
src/frontend/!.vscode/launch.json
src/frontend/!.vscode/extensions.json
src/frontend/.history/*

# misc
src/frontend/.sass-cache
src/frontend/connect.lock
src/frontend/coverage
src/frontend/libpeerconnection.log
src/frontend/npm-debug.log
src/frontend/yarn-error.log
src/frontend/testem.log
src/frontend/typings

# System Files
.DS_Store
Thumbs.db

src/frontend/.DS_Store
