<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Description</th>
    <th scope="col">Client</th>
    <th scope="col">Client email</th>
    <th scope="col">Source</th>
    <th scope="col">Status</th>
    <th scope="col">Started at</th>
    <th scope="col">Finished at</th>
    <th scope="col">Payment terms</th>
    <th scope="col">Cost</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let project of projects">
    <td>{{project.id}}</td>
    <td>{{project.title}}</td>
    <td>{{project.description}}</td>
    <td>{{project.full_name}}</td>
    <td>{{project.email_address}}</td>
    <td>{{project.source}}</td>
    <td>{{project.status}}</td>
    <td>{{project.started_at}}</td>
    <td>{{project.finished_at}}</td>
    <td>{{project.payment_terms}}</td>
    <td>{{project.cost}}</td>
  </tr>
  </tbody>
</table>
