<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Email Address</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.first_name}}</td>
    <td>{{user.last_name}}</td>
    <td>{{user.email_address}}</td>
  </tr>
  </tbody>
</table>
<app-pagination [pages]="pages" [currentPage]="currentPage" [gotoPage]="gotoPage" [pageSize]="pageSize" [setPageSize]="setPageSize"></app-pagination>
